*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-logo{
    height: 130px;
    width: 180px;
    margin-left: 140px;
}

.logo{
    /* background-image: url("logo.png"); */
    /* background-size: cover; */
    color: #bf0610;
    margin-top: 2rem;
    font-size: 2.3rem;
    font-weight: 700;
    height: 80px;
    width: 100%;
}
button{
    height: 40px;
    padding: 4px 16px;
    font-size: 15px;
    background-color: #E50914;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin-right: 140px;
}
button:hover{
    background: #bf0610;
    cursor: pointer;
}

.hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0.3)),url("banner.jpeg");
    background-size: cover;
    height: 700px;
}

.paragraph{
    height: 250px;
    width: 900px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    text-align: center;
    /* background-color: black; */
}
.para-1{
    font-size:46px;
    color: #fff;
    font-weight:900;
    margin-top: 20%;
}
.para-2{
    font-size: 25px;
    color: #fff;
    line-height: 3;
}
.para-3{
    font-size: 23px;
    color: #fff;
    line-height: 2;
}
.box-2{
    height: 300px;
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.box-2 button{
    margin: 5px;
    height: 54px;
    font-size: 20px ;
    padding: 7px 16px;
    font-weight: bolder;
    margin-top: 20px;
}
input{
    height: 43px;
    width: 50%;
    margin: 5px;
    color: rgb(172, 167, 167);
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    border: 1px solid  rgb(172, 167, 167);
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 20px
}
input::placeholder{
    font-size: 18px;
    margin-left: 20px;
}
.pannel1{
    background-color: black;
    color: #fff;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
img{
    height: 400px;
    width: auto;
}

.container h1{
    font-size: 48px;
    font-weight: bolder;
    line-height: 2;
}
.container p{
    font-size: 24px;
}
.container2{
    height: 8px;
    width: 100%;
    background-color: rgb(54, 54, 54);
}
.pannel2{
    height: 1000px;
    width: 100%;
    background-color: black;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    align-items: center; 
    
}
.heading{
    text-align: center;
    /* margin-top: 10%; */
}
.containers{
    height: 40px;
    width: 70%;
    background: rgb(54, 54, 54);
    margin: 0 auto;
    margin-top: 1rem;
    padding: 10px 20px;  
}
.margin-t{
    margin-top: 12rem;
}
.box{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.containers:hover{
    background:rgb(60, 60, 60);
}

.foot-panel2{
    background-color: black;
    color: #fff;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 40px;
}
 ul a{
    display: block;
    color: #dddd;
    /* text-decoration: none; */
    font-size: 0.95rem;
    margin-top: 10px;

}